html, body {
    padding: 0;
    margin: 0;
    background-color: #1172C8;
    color:white;
}

.jumbotron{
    background-image: linear-gradient(to right,#BA61D9, #1172C8);
    text-align: center;
}